.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 8px black;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}
.about-hero{
  background: linear-gradient(128deg, #20405a, #486275, #d8dde1);
}
.hero.healthcare h1{
  text-transform: uppercase;
  color: var(--button-color);
  text-shadow: 0 0 1px #d73220;
}

.hero.healthcare>div>div>*{   
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* .housing-hero h1{
  text-align: center;
  text-shadow: 0 0 4px white;
} */