footer {
  background-color: #003049;
  font-size: var(--body-font-size-xs);
  color: white;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

footer .columns-img-col p{
  display: flex;
  gap: 10px;
}

footer h5 {
  color: white;
}

#copyright-2024-by-nebraska-commission-on-african-american-affairs, .custom-footer li>a, .custom-footer p{
  color: #6b93ac;
}


footer ul {
  padding-left: 20px;
}
.custom-footer>ul>li{
  background-color: transparent !important; 
  border: none !important;
}
.custom-footer .cards-card-image>p{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 16px;
}
.custom-footer .cards-card-image img{
  aspect-ratio: 1;
}
.custom-footer .cards-card-body>ul>li{
  list-style: url(../../img/list-arrow.png);  
}